@charset "UTF-8";

/* BEM   */
/* parametre */
/* animation */
/* nav menu */

/* parametre */
body,div,img,ul {
  margin: 0;
  border:0;
  padding: 0;
}
html,body {
  width: 100%;
}

a {
  text-decoration: none;
}

.role {
  display:none;
}
/* animation */

/* nav  menu  */
.logo img {
  right:0;
  padding:1% 2% 0 0;
  max-width:5%;
  position:absolute;
  }

nav {
  background-color: white;
  width: 100%;
  text-align: center;
}
li,a {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: black;

  //transition-duration:0.5s;
}
li{
  font-size: 1em;
  padding: 1.5%;
}
li:hover {
  background-color: rgba(240,240,240,0.2);

}
li:hover a{
  color: red;
}

.menu_principal{
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.sousmenu {
  background-color: white;

}
.sousmenu li {
  font-size: 0.8em;
  padding: 1.2%;
}

/*  Inscription  */

#fournisseur{
  display: none;
}



//index

.content, .container, .col1, .col2{
  height: 100%;
}

.content{

}
  //slider

.slider{
  width:100%;
  height:300px;
  background: url('../images/btp.jpg') grey center center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight:300;



  h1{
    padding-top: 10%;
    color:white;
  }
  h2{

    color:white;
  }
  h1,H2{
    font-weight: 300;
  }
}
h2{
  font-weight:300;

}
.container{
  font-family: 'Roboto', sans-serif;
  width:900px;
  margin:auto;
  font-weight:300;


  .col1{
    width:70%;
    margin:0;
    float:left;


    article{
    float:left;
      margin-right:20px;
    }

  }
  .col2{

    margin:0;
    width:30%;
    float:left;
  }

}

//Input inscription

.form_inscription{
  input{
    display:block;
    margin:15px 0 20px 15px;
    width:75%;
    border-radius: 2px;
    border:none;

    font-size: 0.8em;
    font-weight: 300;
    background: #eeeeee;
    padding:6px;

    .form-input p::first-letter{
      text-transform: uppercase;
    }
  }
}

//Footer

.footer{
  float:left;
  width:100%;
  background: rgba(211, 211, 211, 0.4);
  font-family: 'Roboto', sans-serif;


}